/******************************
*MediaQuery 767
******************************/
@media screen and (max-width: 767px){
	/****************
	* TEMPLATE
	*****************/
	h3 {font-size: 24px;}
	.reveal-modal-bg {position: fixed;}
	#header h2{text-align: left !important; margin: 10px 0 ;}

	#form-container label, #form-container input, #form-container select {display: block; width: 90%;}

	#gestor-usuarios img{max-width:none;}

	#gestor-usuarios #canvas-holder canvas {width: 250px !important; height: 250px !important;}

	/*login*/
	#login #form-container {width: 100%;}
	#login #form-container h1{width: 116%;}
	
	/*usuarios busqueda*/
	#form-container.form_style label, #form-container.form_style input, #form-container.form_style select, #form-container.form_style label[for*="cmbOrden"] {width: 100%;}
	#form-container.form_style input {padding: 10px 0; margin: 5px 0;}

	/*usuario tabla*/
	.user_edit, .iconoStatus, .iconoBorrar {display: block;}
	.pinned table th, .pinned table td {white-space: normal;}

	.form_style label, .form_style input, .form_style select, .form_style label[for*="cmbOrden"], .form_style input[type*="submit"], .form_style #btnLimpiar {width: 100%;}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){

}
