/* CSS Document */

/***********************
*FONTS
************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,400italic);

/****************
* GENERAL
*****************/
html{height: 100%; width: 100%; margin: 0; padding: 0;}

body{background: #ffffff; font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; height: 100%; width: 100%; }
a, p, h1, h2, h3, h4, h5{ font-family: 'Open Sans', sans-serif; }
h3 {color: #b40404;}
.h100 {height: 100%;}
.table {display: table;}
.table-cell {display: table-cell;}
.align-middle { vertical-align: middle;}
.align-center {text-align: center;}
table {width: 100%; height: auto;}
/* a {text-decoration:none;color:#0c5932;font-size: 12px;font-weight: bold;}

a:hover {color:#03C;}

.centered {text-align: center; margin: 0 auto;}
.align-right {text-align: right;}
.navegacion{background-color:#F3F3F3;color:#666;padding: 6px;border-bottom-style: solid;border-bottom-color:#CCC;border-bottom-width: 1px;}
.div_formulario { border: 1px; border-style: solid; border-color:#CCC; background-color:#F3F3F3; padding: 10px; margin:0 auto;} */


/****************
* SERVER MESSAGES
*****************/

div.exito{ font-family: 'Open Sans', sans-serif; background-image: url('../images/good.png');  background-repeat:no-repeat; background-position: 5px 5px; background-color:#DEF5D8; color:#24A811; border: solid 1px #24A811; padding: 6px 5px 6px 25px; margin: 10px 0 10px; background-size: 18px auto;}

div.exito a{ font-family: 'Open Sans', sans-serif;color:#006600;font-size:11px;font-weight: bold;text-decoration:underline;}

div.error{ font-family: 'Open Sans', sans-serif; background-image: url('../images/error.png'); background-size: 20px 20px; background-repeat:no-repeat; background-position: 15px 3px; color:#EF3632; border-bottom: solid 1px #EF3632; padding: 6px 5px 6px 25px; margin: 10px auto; background-size: 18px auto;}

div.error a{ font-family: 'Open Sans', sans-serif; color:#EF3632;font-size:10px;font-weight: bold;}


/****************
* TEMPLATE
*****************/

#header {width: 100%; background:#b40404; }
#header h2{color: #FFF; font-size: 16px; margin: 10px 0;}
#header a{color: #FFF; font-size: 16px; position: absolute; right: 0; top: 10px;}
#header span {color: #ffffff; margin-bottom: 10px; display: block;}

#main-container {padding: 20px 0; width: 100%; height: 100%; overflow: hidden;}

#footer {width: 100%; background:#b40404; min-height: 20px; }
#footer h2{color: #FFF; font-size: 16px; margin: 40px 0;}

/****************
* LOGIN
*****************/
#login {width: 100%; height: 100%; background: url("../images/login-bg.jpg"); background-size: cover; }
.content {height: 100%; left: 0; position: absolute; top: 0; width: 100%;}

#login #form-container {background: #fff; padding:0 10px 10px; width: 40%; margin: 0 auto; border-radius: 5px; overflow: hidden; position: relative; top:-500px; box-shadow: 2px 9px 15px #000;}
#login #form-container h1{background:#7c2732; width: 100%; color: #fff; margin: 0 -10px; width: 106%; padding: 5px 0; border-bottom: 3px solid #b40404;}
#login #form-container form {margin: 20px 0;}
#login #form-container label, #login #form-container input {display: inline-block;}
#login #form-container label {width: 20%;}
#login #form-container input {width: 70% !important; border-bottom: 4px solid #ebebeb; border-radius: 0; height: 40px;}
#login #form-container input:last-child {background:#7c2732; border:0; color: #fff; font-family: 'Open Sans', sans-serif; padding: 5px; border-bottom: 3px solid #b40404; }

/****************
* MENU
*****************/
#menu {background:#b40404 ;}
#menu #main-nav {text-align: center;}
#menu #main-nav a{padding: 30px 0; vertical-align: middle; width: 11%; color: #fff; position: relative; display: inline-block; font-family: 'Open Sans', sans-serif; font-weight: 700; overflow: hidden;}
#menu #main-nav a:nth-child(1), #menu #main-nav a:nth-child(8){ background:#610B0B; }
#menu #main-nav a:nth-child(2), #menu #main-nav a:nth-child(7){ background:#8A0808; }
#menu #main-nav a:nth-child(3), #menu #main-nav a:nth-child(6){ background:#c60202; }
#menu #main-nav a:nth-child(4), #menu #main-nav a:nth-child(5){ background:#DF0101; }


/***************
* USUARIOS
****************
/*busqueda usuarios*/
#form-container { border-radius:3px; border:1px solid #ddd; padding: 20px; }
#form-container #btnEnviar, #form-container #btnLimpiar { display: inline-block;}
#form-container.form_style label {width: 8%;}
#form-container.form_style input, #form-container.form_style select{width: 20%; margin-right: 20px}
#form-container.form_style label[for*="cmbOrden"] {width: 12%;}
/* Agregar usuario*/
#formulario_agregar_usuario {border:  1px solid #ddd; border-radius: 3px; padding: 10px; }

.form_style label, .form_style input {display: inline-block;}
.form_style label {width: 20%;}
.form_style input, .form_style select {width: 79%;}
.form_style select {margin-bottom: 10px;}
.form_style div {width: 100%; padding-left: 135px; padding-bottom: 10px;}
.form_style div.error_msj {color:#EF3632; font-size:14px; font-style: italic;}
.form_style input[type*="submit"], .form_style #btnLimpiar {width: 30%; margin: 0 auto; background:#5de1a1; color: #fff; border: none; padding: 5px 0; display: block; font-weight: bold; box-shadow: 2px 2px 5px #767777; cursor: pointer;}
.form_style #botones {padding: 0; text-align: center; width: 100%;}
div.table-wrapper { width: 100%;}

#data-container {padding: 20px 0;}
#data-container #add_button {margin-bottom: 20px;}
#data-container #counter-data {text-align: right;}

